* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* html{
    margin : 30px;
} */

.main-header {
    position: fixed;
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    /* height: 22px; */
    display: inline-block;
}
.main-header__brand img{
    height: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none; /* Remove li bullet style */
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px; /* 0 to top and bottom  but I want have some distance between the list items which are in the same line due to inline block,
    so margin left and right could be 16 pixels. */
}

.main-footer__link a {
    color: white;
    text-decoration: none; /* To remove the default link style*/
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

/* Gerneric button css*/
.button {
    background: #0e4f1f;
    color: #fff;
    /*  we could set the font family but then we would keep the other overwritten font values, so I will target the overall font property which is also just a shortened
    for setting a couple of textproperties in one step and I will set it to inherit. */
    /* Do you remember inherit? Inherit was a keyword, a value which forces the inherited styles to be applied. So instead of using the browser defaults
    it now will actually prioritize inheritance, though technically that's not what happens, it just looks at what it would have inherited and directly assigns these styles*/
    /* so that we actually use the font family and the font defaults we have on our page and we set up in our body.*/
    font: inherit;
    border: 1.5px #0e4f1f solid;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer; /* with pointer, you get that hand icon whenever your cursor is over */
}

.button:hover,
.button:active{
    background: #fff;
    color: #0e4f1f;
}

.button:focus{
    outline: none;
}
